<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/template}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div layout:fragment="content" style="margin: 0 auto; width: max-content">
    <div class="mt-5 text-center">
        <h1>The Ultimate ToDo App</h1>
        <h4 style="color: darkgray">Finally, you can sort out your daily tasks.</h4>
    </div>

    <div class="mt-5">
        <img src="/img/hero.jpg" alt="hero" />
    </div>

</div>
</body>
</html>